{{! 中間資訊區 }}
<div class='row d-flex flex-wrap'>
  {{! 中左個資區 }}
  <div class='col-12 col-md-7 d-flex flex-column'>
    <div class='d-flex'>
      {{! 用戶大頭貼 }}
      <a href='' class='mt-3 mb-3'>
        <figure
          class='m-0 me-2 flex-shrink-0'
          style='width: 150px; height: 150px; border-radius: 50%; overflow: hidden;'
        >
          <img
            src='{{userData.avatar}}'
            style='object-fit: cover;width:100%;height:100%'
          />
        </figure>
      </a>
      {{! 用戶個資 }}
      <div class='d-flex flex-column justify-content-end ms-4'>
        <h3 class='mb-1'>{{userData.name}}</h3>
        <h6 class='mb-3'>@{{userData.account}}</h6>
      </div>
    </div>
    {{! 日記牌卡切換 }}
    <div class='mt-3 color-main'>
      <a href="/users/{{userData.id}}/journals" class='color-main'>感恩日記本</a> ｜ <a href="/users/{{userData.id}}/missioncards" class='color-main'>牌卡收集庫</a>
    </div>
  </div>
  {{! 中右卡片區 }}
  <div class='col-12 col-md-5 d-flex flex-column align-items-end pe-5'>
    <div class='main-page-badge rounded-pill'>挑戰中</div>
    {{#if userInProgressJournal}}
    {{#each userInProgressJournal}}
    <figure
      class='today-mission-card'
      style='width: 280px; height: 100%; border-radius: 25px; overflow: hidden'
    >
      <div
        class='d-flex align-items-center'
        style='position: absolute; width: 280px; padding: 3px 12px'
      >
        <div style='font-size: 60px; font-weight: bold'>{{this.MissionCard.id}}</div>
        <div
          style='font-size: 10px; margin-left: 8px'
        >{{this.MissionCard.Mission.mission}}</div>
      </div>
      <img
        src='{{this.MissionCard.CardImage.cardImage}}'
        style='object-fit: cover;width:100%;'
      />
    </figure>
    {{/each}}
    {{else}}
    <div
      class=' d-flex flex-column align-items-center'
      style='width: 280px; height: 380px; border-radius: 25px; overflow: hidden; background-color:bisque'
    >
    {{#is signInUserId userData.id}}
      <div class="mt-5">點擊下方+號抽卡！</div>
      <form action='/users/{{userData.id}}/drawcard' method='POST'>
        <button type='submit' style="font-size: 8em;margin-top: -0.4em; background:none;border: none">+</button>
      </form>
    {{else}}
    <div class="mt-5">沒有正在進行的挑戰...</div>
    {{/is}}
    </div>
    {{/if}}
  </div>
</div>
{{! 中下日記區 }}
{{!-- 感恩日記本 --}}
{{#if isUserJournalsPage}}
{{> userPageJournals}}
{{/if}}
{{!-- 牌卡收集庫 --}}
{{#if isUserMissionCardsPage}}
{{> userPageMissionCards}}
{{/if}}
{{#if emptyData}}
{{!-- 空白膚色底圖 --}}
<div class='row' style='margin-top: -200px; margin-bottom: 250px'>
    <div class='journey' style="height: 40vh">
    </div>
</div>
{{/if}}
{{! 中下下留空 }}
<div class='row' style='height: 180px;'></div>